@import '../../../styles/guidelines';

.bigFeatureCard {
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	overflow: hidden;
	min-height: 58rem;
	min-width: 71.3rem;
	max-width: 71.3rem;
	width: 100%;
	//box-shadow: $box-shadow-1;

	@media only screen and(max-width: 1080px) {
		margin-top: 2rem;
	}

	@media only screen and(max-width: 750px) {
		width: 100%;
		min-width: 90vw;
		max-width: auto;
		min-height: auto;
	}
}

.bgImage {
	min-height: 40rem;
	max-height: 40rem;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	position: relative;

	@media only screen and(max-width: 500px) {
		min-height: 25rem;
	}

	// styles for the loader
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		will-change: transform;
	}
}

.blogText {
	color: $prim_dark_2;
	background: $grey_0;
	padding: 2rem;
	min-height: 18rem;
	position: relative;

	@media only screen and(max-width: 500px) {
		min-height: 5rem;
		max-height: unset;
	}

	h1 {
		font-size: 3rem;
		font-weight: $fontweight_semibold;
		margin-bottom: 4rem;

		@media only screen and(max-width: 500px) {
			font-size: $fontsize_subtitle_20;
		}
	}

	p {
		text-transform: uppercase;
		font-size: $fontsize_content_12;
		font-weight: $fontweight_semibold;
		color: $second_grey;
		margin-top: 2rem;
		position: absolute;
		bottom: 1rem;
		left: 2rem;

		@media only screen and(max-width: 500px) {
			font-size: $fontsize_content_12;
		}
	}
}
