@import '../../../styles/guidelines';

.commonFeaturesSection {
	color: $prim_dark_2;
	margin-top: 15rem;
	margin-bottom: 20rem;
}

.featuresCardWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10rem;
	flex-wrap: wrap;
}
