@import '../../styles/guidelines';

.pricingPlansCardWrapper {
	position: relative;
	background: $prim_white;
	border-radius: 7px;
	min-width: 38rem;
	min-height: 84rem;
	border: 1px solid $second_silver;

	@media only screen and(max-width: 1200px) {
		margin-top: 3rem;
		min-height: 80rem;
	}

	@media only screen and(max-width: 850px) {
		min-height: auto;
	}

	@media only screen and(max-width: 450px) {
		min-width: 100%;
	}
}

.headerGradient {
	position: absolute;
	top: 0;
	height: 8px;
	width: 100%;
	left: 0;
	right: 0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.pricingPlansCard {
	width: 100%;
	padding: 2rem;
	height: 100%;
}

.planType {
	font-size: $fontsize_content_14;
}
