@import '../../styles/guidelines';

.allFeaturesTable {
	color: $prim_dark_2;
	thead {
		width: 100%;
		tr {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.4rem 0;
			min-width: 100%;
			th {
				font-size: $fontsize_content_16;
				font-weight: $fontweight_bold;
				text-transform: uppercase;
				text-align: center;
				flex: 1;
			}
		}
	}

	tbody {
		width: 100%;

		tr {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.2rem 0;

			&:nth-child(2n + 1) {
				background: $grey_1;
			}

			td {
				flex: 1;
				font-size: $fontsize_content_14;
				font-weight: $fontweight_medium;
				text-align: center;
			}
		}
	}
}
