@import '../../../styles/guidelines';

.benefitsSectionWrapper {
	background: $grey_0;
}

.benefitsSection {
	padding: 10rem 0;
	h2 {
		color: $prim_dark_2;
		font-size: $fontsize_title_46;
		text-align: center;

		@media only screen and(max-width: 750px) {
			font-size: 3.4rem;
		}
	}
}

.benefitsTabsWrapper {
	width: 100%;
	margin-top: 5rem;
}

.benefitsTabList {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	color: $prim_dark_2;
	border-bottom: 1px solid $grey_2;

	@media only screen and(max-width: 600px) {
		justify-content: space-between;
	}
}

.benefitsTab {
	font-size: $fontsize_subtitle_24;
	color: inherit;
	font-weight: $fontweight_regular;
	padding: 5px 0;
	cursor: pointer;

	&__Selected {
		border-bottom: 2px solid $prim_dark_2;
		font-weight: $fontweight_medium;
	}

	@media only screen and(max-width: 600px) {
		font-size: 1.6rem;
	}
}
