@import '../../../styles/guidelines';

.resourcesNavbar {
	background: $prim_white;
	padding: 1rem 0;
	border-radius: 5px;

	@media only screen and(max-width: 1620px) {
		padding: 2rem;
	}
}

.resourcesGroupedLinks {
	margin: 0.5rem auto;
	max-width: 35rem !important;
	width: 35rem !important;
}
