/* Primary Colors */
$prim_dark_1: #3b4557;
$prim_dark_2: #2e3b4a;
$prim_white: #fff;
$prim_black: #000;

/* Secondary Colors */
$second_grey: #808080;
$second_gainsboro: #dcdcdc;
$second_lightgrey: #d3d3d3;
$second_silver: #c0c0c0;
$second_darkgrey: #a9a9a9;
$second_lightslategrey: #789;
$second_slategrey: #708090;
$second_dimgrey: #696969;

/* Grey Color Scales  */
$grey_0: #f9f9fa;
$grey_1: #ebeef0;
$grey_2: #dde1e5;
$grey_3: #ced4d9;
$grey_4: #bdc5cc;
$grey_5: #aab4bd;
$grey_6: #95a1ac;
$grey_7: #7e8b96;
$grey_8: #636d76;
$grey_9: #3a4045;

/* Blue Colors Scale */
$blue_0: #f5faff;
$blue_1: #dff0fe;
$blue_2: #c8e4fd;
$blue_3: #aed8fc;
$blue_4: #90cafb;
$blue_5: #6eb9fa;
$blue_6: #45a5f9;
$blue_7: #2f8ddf;
$blue_8: #256fb0;
$blue_9: #164268;

/* Orange Color Scales */
$orange_0: #fff8f3;
$orange_1: #feead9;
$orange_2: #fddbbd;
$orange_3: #fcc99e;
$orange_4: #fab57a;
$orange_5: #f99e4e;
$orange_6: #ea8731;
$orange_7: #c9742a;
$orange_8: #9f5b21;
$orange_9: #5d3614;

/* Systems and Accents */
$accent_blue: #349af8;
$accent_orange: #fc7900;
$system_orange: #f4aa74;
$system_red: #eb675e;
$system_green: #5dc560;
$system_blue: #5381db;
$system_cream: #fff2ee;

/* Font Colors */
$fontcolor_prim_dark_1: $prim_dark_1;
$fontcolor_prim_dark_2: $prim_dark_2;
$fontcolor_white: $prim_white;
$fontcolor_black: $prim_black;

/* Lines Colors */
$linecolor_grey: $second_grey;
$linecolor_gainsboro: $second_gainsboro;
$linecolor_lightgrey: $second_lightgrey;
$linecolor_silver: $second_silver;
$linecolor_darkgrey: $second_darkgrey;
$linecolor_lightslategrey: $second_lightslategrey;
$linecolor_slategrey: $second_slategrey;
$linecolor_dimgrey: $second_dimgrey;

/* Border Color */
$border-color-1: #707070;
