@import '../../../styles/guidelines';

.commonFeaturesSection {
	color: $prim_dark_2;
	margin-top: 15rem;
	margin-bottom: 20rem;

	h3 {
		color: $second_grey;
		font-size: $fontsize_content_16;
		font-weight: $fontweight_semibold;
		margin-top: 1rem;
		min-height: 4rem;
		text-align: center;
	}
}

.featuresCardWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 10rem;
	flex-wrap: wrap;
}
